<style>
  .message_email{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>


<div class="message_email">
  <p>Olá <%= name %></p>
  <br>
  <p>Recebemos uma solicitação de redefinição de senha pro seu usuário</p>
  <p>Se realmente foi voce que enviou, clique no link abaixo para redefinir sua senha:</p>
  <br>
  <p class="link"><a href="<%= link %>">Redefinir senha</a></p>
  <p>Se não foi voce que solicitou, ignore este Email!</p>
  <p>Obrigado!</p>
  <P>Equipe API Vendas</P>
</div>